.shop {
  padding-top: 311px;
  padding-bottom: 200px;
  text-align: center;
}

.shop__label {
  color: var(--seafoam-green);
  font-family: Yellowtail;
  font-size: 36px;
  line-height: normal;
  margin-bottom: 7px;
}

.shop__heading {
  margin-bottom: 40px;
}

.shop__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
  margin-bottom: 122px;
}
