@import "./elements/button.css";
@import "./layout.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --navy-blue: #274c5b;
  --seafoam-green: #7eb693;
  --sunflower-yellow: #efd372;
  --silver: #d4d4d4;
  --ghost-white: #f9f8f8;
  --mint-cream: #eff6f1;
  --charcoal: #525c60;
  --linen: #f1edea;
  --white: #ffffff;
  --pale-gray: #fafafa;
  --light-gray: #e0e0e0;
}

body {
  color: var(--charcoal);
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 165.4%;
  background: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--navy-blue);
  font-family: Roboto;
  font-weight: 800;
  line-height: normal;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 35px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 25px;
}

ol {
  list-style-position: inside;
}

ol > li::marker {
  font-size: 18px;
  font-weight: 700;
}

ol > li:not(:last-child) {
  margin-bottom: 21px;
}

blockquote {
  border-radius: 30px;
  background: var(--linen);
  padding: 69px 59px;
  text-align: center;

  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

a,
button {
  transition: opacity 0.2s ease-in-out;
}

a:hover,
button:hover {
  opacity: 0.8;
}

a:active,
button:active {
  opacity: 1;
}

img {
  max-width: 100%;
  overflow: hidden;
}
